{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo da Biblioteca -->
        <a class="navbar-brand" href="{% url 'library:home' %}">My Library</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Se o usuário estiver autenticado -->
            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto">
                    <!-- Links para usuários staff -->
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'library:books' %}">Livros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Usuários</a>
                        </li>
                    {% endif %}
                </ul>
                
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled">{{user}}</a>
                    </li>
                    <!-- Links específicos para usuários não-staff -->
                    {% if not user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'library:loans' %}">Meus Empréstimos</a>
                        </li>
                        <li class="nav-item position-relative">
                            <a class="nav-link" href="{% url 'library:view_cart' %}">
                                <img src="{% static 'icons/cart.png' %}" alt="Carrinho" style="width: 24px; height: 24px;">
                                
                                <!-- Badge com a quantidade de itens no carrinho -->
                                {% if request.session.loan_cart %}
                                    <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-danger mt-1">
                                        {{ request.session.loan_cart|length }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                    {% else %}
                        <!-- Link para staff -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Livros Emprestados</a>
                        </li>
                    {% endif %}
                    
                    <!-- Botão de logout para usuários autenticados -->
                    <li class="nav-item">
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger ms-3">Logout</button>
                        </form>
                    </li>
                </ul>
                
            <!-- Se o usuário não estiver autenticado -->
            {% else %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
