a {
    text-decoration: none;
    color: black;
}


.card-transition{
    width: 202px;
    transition: transform 0.2s, box-shadow 0.2s; /* Animação suave para transformação e sombra */
}

.card-transition:hover {
    transform: scale(1.05); /* Efeito de zoom */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.card-img-top{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.card-body{
    padding: 6px;
}

.card-title{
    font-weight: bold; 
    font-size: 16px;
}

.card-bold{
    font-weight: bold; 
    font-size: 14px;
}

.card-text{
    font-size: 14px;
}

.margin-card-body{
    margin-bottom: 2px;
}
